/.metadata/

*.yml
liveF_Config-Server/src/main/resources/application.yml
liveF_Auth-Service/src/main/resources/application.yml
liveF_ApiGateway/src/main/resources/application.yml
liveF_Community-Service/src/main/resources/application.yml
liveF_Data-Service/src/main/resources/application.yml
liveF_Member-Service/src/main/resources/application.yml

HELP.md
.gradle

gradlew
gradlew.bat
settings.gradle
gradle/wrapper

build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
